{% extends 'base.html' %}

{% block title %}
Motivational Books
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>
    strong {
        font-family: "Sofia";
        font-size: 50px;
    }

    .parent {
        width: 100%;
        height: auto;
        padding: 1%;
    }

    #icons {
        margin-left: 2%;
        margin-right: 2%;
        float: left;
        height: 40px;
        width: 40px;
        width: 80%;
        background-color: white;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;        
    }

    #column {
        font-family: "Sofia";
        font-size: 30px;
        text-align: center;
        padding-top: 3%;
        text-justify: auto;
    }

    #area {
        padding-top: 3%;
    }
    
    #im{
        width: 99.99%;    
        height: 40%;
    }
</style>
{% endblock head %}

{% block body %}
<div class="container-fluid px-0">
    <img src="/static/imgs/1.jpg" id="im">
</div>

<div class="text-center"><strong>Download Motivational Books</strong></div>

<section class="parent">

    <!--Second-->

    <div id="area">
        <section class="container my-4">
            <a href="/static/PDFs/m/the monk who sold his ferrai.pdf" download="/static/PDFs/m/the monk who sold his ferrai.pdf">
            <img src="/static/downl/m/1.jpg" class="d-block w-25 h-75" id="icons">
            </a>
        </section>

        <section class="container my-4" id="column">
            This book isn’t about not having
            nice stuff, it’s about choosing a vocation or a purpose in life that 
            The book is about Julian Mantle who is a successful lawyer but is full
            of tensions and work pressure, who finally decides to leave his baggage
            of past and luxurious life behind and goes to Himalayan Mountains in 
            search of peace. <p><b>Click Pic To Download.</b></p>
        </section>
    </div>

    <!--Second-->

    <div id="area">
        <section class="container my-4">
            <a href="/static/PDFs/m/who will cry when you die.pdf" download="/static/PDFs/m/who will cry when you die.pdf">
                <img src="/static/downl/m/2.jpg" class="d-block w-25 h-75" id="icons">
                </a>
        </section>

        <section class="container my-4" id="column">
            If you don’t act on life, then life has a habit of acting on you.
            Without a calling, days can slip into weeks, weeks into months, 
            and months into years. Alternatively, you can actively
            seek your calling.This calling will manifest as our higher human
            potential and will add value to the lives around us. Therefore,
            Robin recommends creating a mantra that you live by in all parts 
            of your life.
            <p><b>Click Pic To Download.</b></p>
        </section>
    </div>

    <!--Third-->

    <div id="area">
        <section class="container my-4">
            <a href="/static/PDFs/m/discover your destiny.pdf" download="/static/PDFs/m/discover your destiny.pdf">
                <img src="/static/downl/m/3.jpg" class="d-block w-25 h-75" id="icons">
                </a>
        </section>

        <section class="container my-4" id="column">
            A serendipitous encounter with Julian Mantle, 
            a hotshot lawyer turned monk who has discovered the secrets
             of lasting success, sets Dar upon an extraordinary odyssey to 
             find his authentic self and claim the life of his dreams. Along 
             the way, Dar learns seven potent, essential lessons for living one's
              best life.<p><b>Click Pic To Download.</b></p>
        </section>
    </div>

    <!--Fourth-->

    <div id="area">
        <section class="container my-4 py-5">
            <a href="/static/PDFs/m/secret letter of monk who sold his ferrai.pdf" download="/static/PDFs/m/secret letter of monk who sold his ferrai.pdf">
                <img src="/static/downl/m/4.jpg" class="d-block w-25 h-75" id="icons">
                </a>
        </section>

        <section class="container my-0 py-0" id="column">
            A moving and fascinating journey from the Bosphorus River in Turkey to a 
            remote fishing community in India to the catacombs of Paris, The Secret 
            Letters of the Monk Who Sold His Ferrari offers transformational lessons 
            for happiness and true success and shows readers how to live an authentic 
            and meaningful life.<p><b>Click Pic To Download.</b></p>
        </section>
    </div>

    <!--Fifth-->

    <div id="area">
        <section class="container my-4 py-5">
            <a href="/static/PDFs/m/magaliving.pdf" download="/static/PDFs/m/magaliving.pdf">
                <img src="/static/downl/m/5.jpg" class="d-block w-25 h-75" id="icons">
                </a>
        </section>

        <section class="container my-0 py-0" id="column">
            The Book 'Megaliving' written by Robin Sharma is a beautiful book which
             gives inspiration and encouragement to a person who has lost hope in life,
              and who believes that he can never succeed in certain situations in life.
               This book gives confidence and shows a way to believe in oneself and
                start things all over again<p><b>Click Pic To Download.</b></p>
        </section>
    </div>

</section>
{% endblock body %}