{% extends 'base.html' %}

{% block title %}
Other Books
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>
    strong {
        font-family: "Sofia";
        font-size: 50px;
    }

    .parent {
        width: 100%;
        height: auto;
        padding: 1%;
    }

    #icons {
        margin-left: 2%;
        margin-right: 2%;
        float: left;
        height: 40px;
        width: 40px;
        width: 80%;
        background-color: white;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
    }

    #column {
        font-family: "Sofia";
        font-size: 30px;
        text-align: center;
        padding-top: 3%;
        text-justify: auto;
    }

    #area {
        padding-top: 3%;
    }
    
    #im{
        width: 99.99%;    
        height: 40%;
    }
</style>
{% endblock head %}

{% block body %}
<div class="container-fluid px-0">
    <img src="/static/imgs/1.jpg" id="im">
</div>

<div class="text-center"><strong>Download Other Books</strong></div>

<section class="parent">

    <!--Second-->

    <div id="area">
        <section class="container my-4">
            <a href="/static/PDFs/o/Finish Strong.pdf" download="/static/PDFs/o/Finish Strong.pdf">
            <img src="/static/downl/o/1.jpg" class="d-block w-25 h-75" id="icons">
            </a>
        </section>

        <section class="container my-4" id="column">
            "Finish Strong" is more than a catchphrase—it's an attitudeFor years,
             athletes, business innovators, and ambitious people of all descriptions 
             have described their primary strategy with just two words. Two words that 
             unlock the passion and accountability in every endeavor:<b>Click Pic To Download.</b>
        </section>
    </div>

    <!--Second-->

    <div id="area">
        <section class="container my-4">
            <a href="/static/PDFs/o/india2020.pdf" download="/static/PDFs/o/india2020.pdf">
                <img src="/static/downl/o/2.jpg" class="d-block w-25 h-75" id="icons">
                </a>
        </section>

        <section class="container my-4" id="column">
            India 2020: A Vision for the New Millennium is a book, written by late former
             President of India A P J Abdul Kalam and Y. S. Rajan. The book was written by 
             the duo in the year 1998, before Kalam's tenure as the President of India. It 
             talks about Kalam's ideas for India's future and for developing India.<p><b>Click Pic To Download.</b></p>
        </section>
    </div>

    <!--Third-->

    <div id="area">
        <section class="container my-4">
            <a href="/static/PDFs/o/Baskervilles.pdf" download="/static/PDFs/o/Baskervilles.pdf">
                <img src="/static/downl/o/3.jpg" class="d-block w-25 h-75" id="icons">
                </a>
        </section>

        <section class="container my-4" id="column">
            The Hound of the Baskervilles is the third of the four crime novels written by Sir
             Arthur Conan Doyle featuring the detective Sherlock Holmes. It is set largely on
              Dartmoor in Devon in England's West Country and tells the story of an attempted
               murder inspired by the legend of a fearsome, diabolical hound of supernatural 
               origin.<p><b>Click Pic To Download.</b></p>
        </section>
    </div>

</section>
{% endblock body %}